<mat-dialog-content>
    <div class="wrapper">
        <mat-stepper #stepper class="stepper">
            <mat-step [stepControl]="personalDataForm" errorMessage="Деякі поля введено неправильно">
                <form [formGroup]="personalDataForm" class="form">
                    <ng-template matStepLabel>Персональні дані</ng-template>
                    <mat-form-field appearance="outline" color="accent">
                        <mat-label>ПІБ</mat-label>
                        <input matInput placeholder="ПІБ учня"
                            formControlName="fullNameControl" required
                            [(ngModel)]="pupil.fullName"
                            autocomplete="off">
                        <mat-error *ngIf="personalDataForm.get('fullNameControl')?.invalid">Це поле є обов'язковим</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" color="accent">
                        <mat-label>Адреса</mat-label>
                        <input matInput placeholder="Адреса проживання учня"
                            formControlName="addressControl" required
                            [(ngModel)]="pupil.address"
                            autocomplete="off">
                        <mat-error *ngIf="personalDataForm.get('addressControl')?.invalid">Це поле є обов'язковим</mat-error>
                    </mat-form-field>
                    <mat-form-field color="accent" appearance="outline">
                        <mat-label>Дата народження</mat-label>
                        <input matInput [matDatepicker]="birthDatePicker"
                            formControlName="birthDateControl"
                            [matDatepickerFilter]="birthDateFilter"
                            [(ngModel)]="pupil.birthDate">
                        <mat-error *ngIf="personalDataForm.get('birthDateControl')?.invalid">Вік учня повинен бути від 5 до 18 років</mat-error>
                        <mat-hint>ММ/ДД/РРРР</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="birthDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #birthDatePicker></mat-datepicker>
                    </mat-form-field>
                    <div class="btn__container">
                        <button mat-raised-button matStepperNext color="primary">Далі</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="accountDataForm" errorMessage="Деякі поля введено неправильно">
                <form [formGroup]="accountDataForm" class="form">
                    <ng-template matStepLabel>Дані акаунту</ng-template>
                    <mat-form-field appearance="outline" color="accent">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Електронна адреса"
                            formControlName="emailControl" required
                            [(ngModel)]="pupil.email"
                            autocomplete="off">
                        <mat-error *ngIf="accountDataForm.get('emailControl')?.invalid">{{ getEmailValidationError() }}</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" color="accent">
                        <mat-label>Ім'я користувача</mat-label>
                        <input matInput placeholder="Ім'я користувача"
                            formControlName="loginControl"
                            type="email"
                            [(ngModel)]="pupil.login"
                            autocomplete="off">
                        <mat-error *ngIf="accountDataForm.get('loginControl')?.invalid">Це поле є обов'язковим</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" color="accent">
                        <mat-label>Пароль</mat-label>
                        <input matInput placeholder="Пароль"
                            formControlName="passwordControl"
                            type="password"
                            [(ngModel)]="pupil.password">
                        <mat-error *ngIf="accountDataForm.get('passwordControl')?.invalid">Це поле є обов'язковим</mat-error>
                    </mat-form-field>
                    <div class="btn__container">
                        <button mat-raised-button color="accent" matStepperPrevious>Назад</button>
                        <button mat-raised-button color="primary" matStepperNext>Далі</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="classDataForm" errorMessage="Деякі поля введено неправильно">
                <form [formGroup]="classDataForm" class="form">
                    <ng-template matStepLabel>Дані класу учня</ng-template>
                    <mat-form-field appearance="outline" color="accent">
                        <mat-label>Клас</mat-label>
                        <mat-select [(value)]="pupil.class.id"
                            formControlName="classControl">
                            <mat-optgroup *ngFor="let profile of classes" [label]="profile.profileName">
                                <mat-option *ngFor="let class of profile.classes" [value]="class.id">
                                    {{ class.name }}
                                </mat-option>
                            </mat-optgroup>
                        </mat-select>
                    </mat-form-field>
                    <div class="btn__container">
                        <button mat-raised-button color="accent" matStepperPrevious>Назад</button>
                        <button mat-raised-button color="primary"
                            (click)="addPupil()"><mat-icon class="icon">done</mat-icon> Додати учня</button>
                    </div>
                </form>
            </mat-step>
        </mat-stepper>
    </div>
</mat-dialog-content>