<div class="wrapper">
    <div class="btn-close-container">
        <button (click)="dialogRef.close()" class="btn-close"><mat-icon class="btn-close-icon">close</mat-icon></button>
    </div>
    <form [formGroup]="pupilForm" class="form">
        <div class="form-block">
            <div class="form-header">
                <div class="form-header-text">ПІБ</div>
                <div class="form-header-divider"></div>
            </div>
            <div class="form-content">
                <div class="input__wrapper">
                    <input formControlName="firstNameControl"
                        [(ngModel)]="firstName"
                        id="firstName"
                        class="input"
                        required
                        autocomplete="off">
                    <label class="label" [class.danger]="pupilForm.get('firstNameControl')?.invalid
                        && pupilForm.get('firstNameControl')?.touched"
                        for="firstName">Прізвище</label>
                    <span class="error danger" *ngIf="pupilForm.get('firstNameControl')?.invalid
                        && pupilForm.get('firstNameControl')?.touched">
                        Це поле є обов'язковим
                    </span>
                </div>
                <div class="input__wrapper">
                    <input formControlName="lastNameControl"
                        [(ngModel)]="lastName"
                        id="lastName"
                        class="input"
                        required
                        autocomplete="off">
                    <label class="label" [class.danger]="pupilForm.get('lastNameControl')?.invalid
                        && pupilForm.get('lastNameControl')?.touched"
                        for="lastName">Ім'я</label>
                    <span class="error danger" *ngIf="pupilForm.get('lastNameControl')?.invalid
                        && pupilForm.get('lastNameControl')?.touched">
                        Це поле є обов'язковим
                    </span>
                </div>
                <div class="input__wrapper">
                    <input formControlName="middleNameControl"
                        [(ngModel)]="middleName"
                        id="middleName"
                        class="input"
                        required
                        autocomplete="off">
                    <label class="label" [class.danger]="pupilForm.get('middleNameControl')?.invalid
                        && pupilForm.get('middleNameControl')?.touched"
                        for="middleName">По-батькові</label>
                    <span class="error danger" *ngIf="pupilForm.get('middleNameControl')?.invalid
                        && pupilForm.get('middleNameControl')?.touched">
                        Це поле є обов'язковим
                    </span>
                </div>
            </div>
        </div>
        <div class="form-block">
            <div class="form-header">
                <div class="form-header-text">Контактні&nbsp;дані</div>
                <div class="form-header-divider"></div>
            </div>
            <div class="form-content">
                <div class="input__wrapper">
                    <input formControlName="emailControl"
                        [(ngModel)]="pupil.email"
                        id="email"
                        class="input"
                        required
                        autocomplete="off">
                    <label class="label" [class.danger]="pupilForm.get('emailControl')?.invalid
                        && pupilForm.get('emailControl')?.touched"
                        for="email">Електронна пошта</label>
                    <span class="error danger" *ngIf="pupilForm.get('emailControl')?.invalid
                        && pupilForm.get('emailControl')?.touched">
                        {{ getEmailValidationError() }}
                    </span>
                </div>
                <div class="input__wrapper">
                    <input formControlName="addressControl"
                        [(ngModel)]="pupil.address"
                        id="address"
                        class="input"
                        required
                        autocomplete="off">
                    <label class="label" [class.danger]="pupilForm.get('addressControl')?.invalid
                        && pupilForm.get('addressControl')?.touched"
                        for="address">Адреса</label>
                    <span class="error danger" *ngIf="pupilForm.get('addressControl')?.invalid
                        && pupilForm.get('addressControl')?.touched">
                        Це поле є обов'язковим
                    </span>
                </div>
            </div>
        </div>
        <div class="form-block">
            <div class="form-header">
                <div class="form-header-text">Деталі</div>
                <div class="form-header-divider"></div>
            </div>
            <div class="form-content">
                <div class="input__wrapper">
                    <input formControlName="loginControl"
                        [(ngModel)]="pupil.login"
                        id="login"
                        class="input"
                        required
                        autocomplete="off">
                    <label class="label" [class.danger]="pupilForm.get('loginControl')?.invalid
                        && pupilForm.get('loginControl')?.touched"
                        for="login">Логін</label>
                    <span class="error danger" *ngIf="pupilForm.get('loginControl')?.invalid
                        && pupilForm.get('loginControl')?.touched">
                        Це поле є обов'язковим
                    </span>
                </div>
                <div class="input__wrapper">
                    <input formControlName="passwordControl"
                        [(ngModel)]="pupil.password"
                        id="password"
                        type="password"
                        class="input"
                        required
                        autocomplete="off">
                    <label class="label" [class.danger]="pupilForm.get('passwordControl')?.invalid
                        && pupilForm.get('passwordControl')?.touched"
                        for="password">Пароль</label>
                    <span class="error danger" *ngIf="pupilForm.get('passwordControl')?.invalid
                        && pupilForm.get('passwordControl')?.touched">
                        Це поле є обов'язковим
                    </span>
                </div>
                <mat-form-field>
                    <mat-label>Виберіть дату народження</mat-label>
                    <input formControlName="birthDateControl"
                        [(ngModel)]="pupil.birthDate"
                        placeholder="Дата народження"
                        matInput
                        [matDatepickerFilter]="birthDateFilter"
                        [matDatepicker]="picker">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker disabled="false"></mat-datepicker>
                    <mat-error *ngIf="pupilForm.get('birthDateControl')?.invalid">Вік учня повинен бути від 5 до 18 років</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Клас</mat-label>
                    <mat-select [(value)]="pupil.class.id">
                        <mat-option *ngFor="let class of classes" [value]="class.id">
                            {{ class.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <span class="error danger select-error" *ngIf="pupil.class.id <= 0">
                    Це поле є обов'язковим
                </span>
            </div>
        </div>
    </form>
    <div class="footer">
        <button (click)="dialogRef.close()" class="footer-back">Назад</button>
        <button (click)="addPupil()" class="footer-save">{{ resultButtonText }}</button>
    </div>
</div>
