@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');



.classes-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #111128;
    width: 100%;
    height: max-content;
}

.observe {
    background: transparent;
    width: 100%;
    height: 100px;
}

.search-container {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 50px;
    width: 90%;

    .search {
        min-width: 470px;
        min-height: 50px;
        background: rgba(51, 52, 69, .63);
        box-shadow: inset 2px 5px 5px #040227;
        border-radius: 20px;
        display: flex;
        align-items: center;

        &-input {
            height: 100%;
            margin: 0;
            width: 80%;
            background: none;
            border: none;
            outline: none;
            padding-left: 30px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 300;
            font-size: 16px;
            letter-spacing: .05em;
            color: #FFFFFF;
        }

        &-icon {
            color: #FFFFFF;
            margin-left: 20px;
            cursor: pointer;
        }
    }

    .btn-add {
        min-width: 230px;
        min-height: 50px;
        text-align: center;
        border-radius: 20px;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        display: flex;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
        outline: none;
        justify-content: center;
        align-items: center;
        font-weight: 400;
        cursor: pointer;
        position: relative;
        transition: all .35s linear 0s;

        .i {
            opacity: 0;
            position: absolute;
            margin-left: 17px;
            transition: .35s linear 0s;
            top: 50%;
            transform: translateY(-50%);
            right: 20px;
            text-indent: 0px;
        }

        &:hover {
            text-indent: -20px;

            .i {
                display: inline-block;
                text-indent: 0px;
                opacity: 1;
            }
        }
    }
}

.class-profile {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 30px;

    &-header {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;

        &-num {
            color: #FFFFFF;
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            font-size: 50px;
            margin-right: 22px;
        }

        &-line {
            height: 0;
            width: 100%;
            border: 1px solid #FFFFFF;
        }
    }

    &-classes {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;

        &-card {
            width: 200px;
            height: 300px;
            background: #42435F;
            box-shadow: 6px 8px 10px 2px#040227;
            border-radius: 20px;
            margin-right: 110px;
            margin-bottom: 70px;
            margin-top: 70px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px 20px;

            &:nth-child(4n) {
                margin-right: 0;
            }

            &-header {
                display: flex;
                width: 100%;
                flex-direction: row;
                justify-content: space-between;

                .cl {
                    width: 90px;
                    height: 70px;
                    position: relative;
                    align-items: center;
                    background: transparent;
                    background-image: url('../images/EllipseClasses.png');
                    background-repeat: no-repeat;
                    background-size: cover;
                    font-family: 'Montserrat', sans-serif;
                    color: #FFFFFF;
                    font-weight: 600;
                    font-size: 22px;
                    
                    &-text {
                        position: absolute;
                        top: 18px;
                        left: 18px;
                    }
                }

                .num-pupils {
                    font-family: 'Montserrat', sans-serif;
                    font-size: 12px;
                    font-weight: 400;
                    color: rgba(245, 245, 245, .65);
                    text-align: left;

                    &-num {
                        color: #FFFFFF;
                        font-size: 20px;
                        font-weight: 500;
                        margin-left: 7px;
                    }
                }
            }

            &-content {
                display: flex;
                width: 100%;
                flex-direction: column;
                margin-top: 20px;

                .divider {
                    width: 100%;
                    height: 0;
                    border: 0.5px solid #B6B7C0;
                    opacity: .7;
                    margin-top: 15px;
                    margin-bottom: 15px;
                }

                .text-1 {
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 400;
                    font-size: 12px;
                    color: #B6B7C0;
                    margin-bottom: 0;
                }

                .text-2 {
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 400;
                    font-size: 16px;
                    color: rgba(245, 245, 245, .95);
                    margin-bottom: 0;
                }
            }

            &-footer {
                display: flex;
                flex-direction: row;
                width: 100%;
                justify-content: space-between;

                .btn {
                    background: none;
                    outline: none;
                    border: none;

                    .ico {
                        font-size: 22px;
                        color: #FFFFFF;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.alert {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(94, 110, 141, 0.9);
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s 0s, visibility 0s .3s;
}

.alert.is-visible {
    opacity: 1;
    visibility: visible;
    transition: opacity .3s 0s, visibility 0s 0s;
}

.alert-container {
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: 4em auto;
    background: #585E71;
    color: #E5DED8;
    border-radius: .25em .25em .4em .4em;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    transform: translateY(-40px);
    transition-property: transform;
    transition-duration: .3s;
    overflow: hidden;
}

.alert-container p {
    padding: 3em 1em;
}

.alert-container footer {
    display: flex;
    width: 100%;
    justify-content: center;
}

.alert-container footer div {
    height: 60px;
    line-height: 60px;
    color: #E5DED8;
    font-weight: 700;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .2);
    flex: 1;
    background: #b6bece;
    text-decoration: none;
    transition: background-color .2s;
}

.alert-container footer div:hover {
    box-shadow: 0 0 100em 100em rgba(0, 0, 0, .2) inset;
    cursor: pointer;
}

.alert-container footer .alert-cancel {
    background: #fc5169;
}

.alert-container .alert-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    color: #8f9cb5;
    font-weight: 900;
    font-size: 1.5em;
    text-decoration: none;
}

.alert-container .alert-close:hover {
    cursor: pointer;
}

.is-visible .alert-container {
    transform: translateY(0);
}
