<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      mode="over"
      opened="false">
    <mat-toolbar>Меню</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'pupils'">Учні</a>
      <a mat-list-item href="#">Вчителі</a>
      <a mat-list-item href="#">Класи</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <button class="btn__profile" 
        mat-mini-fab
        color="accent"
        [mat-menu-trigger-for]="beforeMenu">{{ currentUser.login[0] }}</button>
        <mat-menu #beforeMenu xPosition="before">
          <button (click)="logout()" mat-menu-item>Вийти <mat-icon class="icon">logout</mat-icon></button>
        </mat-menu>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
