@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 80px;
  background-color: #111128;

  .nav-item {
    margin-left: 30px;
    width: 130px;
    padding: 0 15px;
    height: 80px;
    display: flex;
    align-items: center;
    cursor: pointer;

    a {
      text-decoration: none;
      display: flex;
      justify-content: center;
      color: #FFFFFF;
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: 18px;
      .ico {
        margin-left: 10px;
      }
    }
  }

  .active {
    background-image: url('../images/navim4.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 7px 5px;
    transition: all .5s linear;
    a {
      color: #111128;
    }
  }

  .first {
    margin-left: 70px;
  }

  .last {
    width: 165px;
  }
}

.btn__profile {
  margin-top: 5px;
  margin-left: auto;
  right: 20px;
  bottom: 10px;
  background: transparent;
  box-shadow: none;
  color: #111128;
  background-image: url('../images/profile_ellipse.png');
  background-repeat: no-repeat;
  width: 75px;
  height: 80px;
  border: none;
  outline: none;
  cursor: pointer;
  
  span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #111128;
    position: absolute;
    top: 33px;
    right: 40px;
  }
}