<div id="navbar-animmenu">
  <ul class="show-dropdown main-navbar">
    <div class="hori-selector">
      <div class="left"></div>
      <div class="right"></div>
    </div>
    <li class="active" id="pupils">
      <a [routerLink]="'pupils'"><mat-icon>person</mat-icon> Учні</a>
    </li>
    <li id="teachers">
      <a [routerLink]="'teachers'"><mat-icon>school</mat-icon> Вчителі</a>
    </li>
    <li id="classes">
      <a [routerLink]="'classes'"><mat-icon>people</mat-icon> Класи</a>
    </li>
    <li id="subjects">
      <a [routerLink]="'subjects'"><mat-icon>import_contacts</mat-icon> Предмети</a>
    </li>
  </ul>
  <button [mat-menu-trigger-for]="menu" class="btn__profile">{{ currentUser.login[0] }}</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon> 
      <span>Вийти</span>
    </button>
  </mat-menu>
</div>
<router-outlet></router-outlet>
