@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

* {
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.input__wrapper {
    width: 320px;
    height: 55px;
    position: relative;
    margin-top: 40px;

    .input {
        width: 100%;
        height: 100%;
        background: rgba(51, 52, 69, .63);
        box-shadow: inset 2px 5px 5px #040227;
        border: none;
        border-radius: 20px;
        outline: none;
        padding: 0 10px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: .05em;
        color: #fff;
    }

    .input:focus + label,
    .input:valid + label {
        font-size: 10px;
        line-height: 16px;
        top: -1px;
        pointer-events: none;
    }

    .label {
        position: absolute;
        top: 17px;
        left: 15px;
        display: flex;
        align-items: center;
        cursor: text;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: .05em;
        color: rgba(245, 245, 245, .59);
        transition: .2s ease all;
    }
}

::ng-deep {
    .mat-form-field {
        width: 320px;
        height: 55px;
    }

    .mat-form-field-wrapper {
        padding-bottom: 0;
        margin: 0;
    }

    .mat-form-field-appearance-outline .mat-form-field-outline {
        background: rgba(51, 52, 69, .63);
        border: none;
        border-radius: 20px;
        box-shadow: inset 2px 5px 5px #040227;
    }

    .mat-form-field-appearance-outline .mat-form-field-outline-start {
        border: none !important;
    }

    .mat-form-field-appearance-outline .mat-form-field-outline-gap {
        border: none !important;
    }

    .mat-form-field-appearance-outline .mat-form-field-outline-end {
        border: none !important;
    }

    .mat-form-field-label, .mat-select-value {
        font-family: 'Montserrat', sans-serif !important;
        font-weight: 300 !important;
        font-size: 14px !important;
        line-height: 24px;
        letter-spacing: .05em;
        color: rgba(245, 245, 245, .59);
    }

    .mat-select-arrow {
        color: rgba(245, 245, 245, .59);
    }

    .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
        color: rgba(245, 245, 245, .59);
    }

    .mat-form-field.mat-focused .mat-form-field-label {
        color: rgba(245, 245, 245, .59);
    }

    .mat-select-panel {
        background: rgb(51, 52, 69);
    }

    .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
        color: rgba(137, 137, 137, 0.59);
    }

    .mat-option {
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        color: rgba(245, 245, 245, .59);
    }

    .mat-option.mat-active {
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        color: rgba(245, 245, 245, .59);
    }
}

.btn-submit {
    margin-top: 65px;
    outline: none;
    border: none;
    width: 250px;
    height: 50px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
    border-radius: 20px;
    cursor: pointer;
}

.danger {
    color: red !important;
}

.error {
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    padding-left: 20px;
    padding-top: 5px;
}

.select-error {
    position: absolute;
    left: 0;
    top: 60px;
}