<div class="container">
    <div class="vector"></div>
    <form class="login" [formGroup]="AuthorizationForm" (submit)="login()">
        <div class="input__wrapper">
            <input formControlName="login"
                id="login"
                [(ngModel)]="user.username"
                class="input"
                required
                autocomplete="off">
            <label class="label" for="login">Ім'я користувача</label>
        </div>
        <div class="input__wrapper">
            <input formControlName="password"
                id="password"
                type="password"
                [(ngModel)]="user.password"
                class="input pass"
                required
                autocomplete="off">
            <label class="label" for="password">Пароль</label>
        </div>
        <button type="submit" class="btn">Увійти <mat-icon>login</mat-icon></button>
    </form>
</div>
