<div class="wrapper">
    <div class="container mat-elevation-z8">
        <div class="loading-shade"
            *ngIf="isLoadingResults">
            <mat-spinner></mat-spinner>
        </div>
        <div class="tools">
            <input type="text" class="input" placeholder="Введіть ім'я учня" [(ngModel)]="pupilsFilter">
            <div class="search" (click)="getPupils(classId, pupilsFilter)">
                <mat-icon class="search__icon">search</mat-icon>
            </div>
            <button (click)="addPupil()" class="btn__add" mat-raised-button color="accent"><mat-icon>add</mat-icon> Додати учня</button>
            <button (click)="clearFilters()" class="btn__clear" mat-raised-button color="accent"><mat-icon>clear_all</mat-icon> Очистити фільтри</button>
        </div>
        <mat-divider inset></mat-divider>
        <div class="table-container">
            <table mat-table [dataSource]="pupils"
                matSort matSortActive="created" matSortDisableClear matSortDirection="desc">
                <ng-container matColumnDef="fullName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>П.І.Б</th>
                    <td mat-cell *matCellDef="let row">{{ row.fullName }}</td>
                </ng-container>
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef>Email</th>
                    <td mat-cell *matCellDef="let row">{{ row.email }}</td>
                </ng-container>
                <ng-container matColumnDef="class">
                    <th mat-header-cell *matHeaderCellDef>Клас</th>
                    <td mat-cell *matCellDef="let row">{{ row.class.name }}</td>
                </ng-container>
                <ng-container matColumnDef="address">
                    <th mat-header-cell *matHeaderCellDef>Адреса</th>
                    <td mat-cell *matCellDef="let row">{{ row.address }}</td>
                </ng-container>
                <ng-container matColumnDef="birthDate">
                    <th mat-header-cell *matHeaderCellDef>Дата народження</th>
                    <td mat-cell *matCellDef="let row">{{ row.birthDate | date : "longDate" }}</td>
                </ng-container>
                <ng-container matColumnDef="delete">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let row">
                        <mat-icon (click)="deletePupil(row.id)" class="ico">delete</mat-icon>
                        <span class="divider"></span>
                        <mat-icon class="ico" (click)="editPupil(row)">edit</mat-icon>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
        <mat-paginator [length]="pupilsLength" [pageSize]="30"></mat-paginator>
    </div>
    <div class="alert">
        <div class="alert-container">
            <p>Ви впевнені, що хочете видалити цього учня?</p>
            <footer class="buttons">
                <div class="alert-confirm">Так</div>
                <div class="alert-cancel">Відмінити</div>
            </footer>
            <div class="alert-close img-replace">&times;</div>
        </div>
    </div>
</div>
