<div class="wrapper">
    <div class="container">
        <div class="search-container">
            <div class="search">
                <input type="text" class="search-input" placeholder="Пошук" 
                    (keyup)="filterTeachers()"
                    [(ngModel)]="teachersFilter">
                <mat-icon class="search-icon">search</mat-icon>
            </div>
            <div class="dropdown-container">
                <div class="dropdown">Сортувати за <mat-icon>keyboard_arrow_down</mat-icon></div>
                <div class="options-wrapper">
                    <div class="dropdown-arrow"></div>
                    <div class="options">
                        <div (click)="sortTeachers('desc')" class="option">Спаданням <mat-icon class="arrow_icon">arrow_downward</mat-icon></div>
                        <div (click)="sortTeachers('asc')" class="option">Зростанням <mat-icon class="arrow_icon">arrow_upward</mat-icon></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tools_btns">
            <button (click)="deleteRange()">Видалити вчителів <mat-icon class="ico">delete</mat-icon></button>
            <button (click)="addTeacher()">Додати вчителя <mat-icon class="ico">add</mat-icon></button>
        </div>
        <div *ngIf="isLoading" class="progress">
            <mat-spinner></mat-spinner>
        </div>
        <div class="table">
            <div class="header-row">
                <div class="header" *ngFor="let column of displayedColumns">{{ column }}</div>
            </div>
            <div class="row" *ngFor="let teacher of filteredTeachers; let i = index"
                [class.selected-row]="checkedTeachers[i].checked">
                <div class="checkbox-container">
                    <input type="checkbox" class="checkbox" [id]="teacher.id"
                        [(ngModel)]="checkedTeachers[i].checked">
                    <label [for]="teacher.id">
                    </label>
                </div>
                <div class="cell">{{ teacher.fullName.split(' ')[0] }}</div>
                <div class="cell">{{ teacher.fullName.split(' ')[1] }}</div>
                <div class="cell">{{ teacher.fullName.split(' ')[2] }}</div>
                <div class="cell">{{ teacher.email }}</div>
                <div class="button-container">
                    <button class="icon-button" (click)="editTeacher(teacher)"><mat-icon>edit</mat-icon></button>
                    <button class="icon-button" (click)="deleteTeacher(teacher.id)"><mat-icon>delete</mat-icon></button>
                </div>
            </div>
            <div class="paginator">
                <p class="page-index">Сторінка: {{ page + 1 }}</p>
                <button class="arrow"><mat-icon (click)="getPage(page - 1)" class="arrow_icon">arrow_left</mat-icon></button>
                <button class="arrow"><mat-icon (click)="getPage(page + 1)" class="arrow_icon">arrow_right</mat-icon></button>
            </div>
        </div>
    <div class="alert">
        <div class="alert-container">
            <p>Ви впевнені, що хочете видалити цього вчителя?</p>
            <footer class="buttons">
                <div class="alert-confirm">Так</div>
                <div class="alert-cancel">Відмінити</div>
            </footer>
            <div class="alert-close img-replace">&times;</div>
        </div>
    </div>
</div>